@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply flex flex-col flex-1 min-h-full bg-gray-800;
}

.gradient {
  background-image: linear-gradient(to bottom, transparent 0%, black 100%);
}

.gradient-bg {
  background-image: linear-gradient(
    to bottom left,
    transparent 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.text-shadow {
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.drop {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));
}
